<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자페이지</title>
</head>
<body>
    <div id="container">
        <header>
            <div class="h_in">
                <h2 class="h_in_left">
                    <img src="/static/images/logo.png" alt="">
                    <span>관리자 페이지</span>
                </h2>
                <ul class="h_in_right">
                    <li><button type="button">로그아웃</button></li>
                    <li><button type="button">내 상점</button></li>
                    <li><button type="button">1:1 고객센터</button></li>
                </ul>
            </div>
            <div class="h_menu">
                <ul class="h_nav">
                    <li><button type="button">상점관리</button></li>
                    <li><button type="button">상품관리</button></li>
                    <li><button type="button">주문관리</button></li>
                    <li><button type="button">고객관리</button></li>
                    <li><button type="button">게시판관리</button></li>
                </ul>
            </div>
        </header>
        <article>
            <div class="content-leftside">
                <div class="user_info">
                    <span>관리자1</span>
                </div>
                <ul class="product_admin">
                    <li><h2>상품관리</h2></li>
                    <li>상품목록</li>
                    <li>상품등록
                        <ul class="item_upload">
                            <li>간단 등록</li>
                            <li>상품 등록</li>
                        </ul>
                    </li>
                    <li>상품분류관리
                    </li>
                    <li>재고관리</li>
                </ul>
            </div>
            <div class="content-rightside">
                
            </div>
        </article>
    </div>
</body>
</html>